---
import Dwn from '../assets/dwn.svg';
---

<div class="container mx-auto my-4 relative">
	<div class="text-center text-2xl my-4">
		Acá te explicamos cómo utilizarla:
		<img src={Dwn} alt="" class="w-20 mx-auto">
	</div>
	<div class="aspect-video bg-gray border-4 border-purple">
		<iframe width="100%" class="aspect-video" src="https://www.youtube.com/embed/7Nv9DBAEYNo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>