---
import LogoMood from '../assets/mood.png';
import SilverPlus from '../assets/silver-plus.svg'
---
<header class="container mx-auto px-2">
    <div class="flex mx-auto md:w-3/4 md:mb-8">
        <div class="w-1/4 md:w-1/5">
            <img src={LogoMood} alt="Mood">
        </div>
        <div class="w-3/4 md:w-4/5 text-right mt-4 text-gray-50  text-3xl md:text-4xl">
            AHORA EL SALÓN ES EN TU CASA <br />
            <span class="text-lg md:text-2xl align-top">CON</span> <img src={SilverPlus} alt="Silver Plus" class="inline-block w-[5em] md:w-[12em]">
        </div>
    </div>
</header>